html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #05060a;
  font-family: var(--ldg-sans);
  color: #fff;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}
